RAILS_ENV=production
POSTGRES_HOST=66.94.101.153
POSTGRES_PORT=5433
POSTGRES_DATABASE=chatwoot_prod
POSTGRES_USERNAME=chatwoot_app
POSTGRES_PASSWORD=
POSTGRES_SSL_MODE=require
REDIS_URL=rediss://:senha@66.94.101.153:6380
SECRET_KEY_BASE=
FRONTEND_URL=
ENABLE_ACCOUNT_SIGNUP=false
